<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>All Contacts</h1>
    </div>
  </div>
</div>

<ul>
<% Contact.all.each do |contact| %>
  <li><%= contact.first_name %> <%= contact.last_name %> <strong>Email:</strong> <%= contact.email %> <strong>Notes:</strong> <%= contact.note %></li>
  <form method="get" action="/contacts/<%= contact.id %>" >
    <input type="hidden"/>
    <input type="submit" value="Delete" />
  </form>
<% end %>
</ul>
